body {
    background-color: rgb(56, 0, 56);
}

h1, p, ul {
    text-align: center;
    color: white;
}

h1 {
    text-shadow: 2px 2px #ff0000
}

a {
    color:#ff0000
}

ul {
    list-style-type: square;
}